Repository AlgoLeadMe/AlgoLeadMe-5, pull requests merged in 2024-01, with the labels that each got.

#1 1-miniron-v
  README.md
  Vedellan/README.md
  miniron-v/README.md
  miniron-v/그리디/소트.cpp
Labels: 리뷰 완료 ✔️, miniron-v

#5 1-Redish03
  Redish03/Dijkstra/1916.cpp
  Redish03/README.md
Labels: 리뷰 완료 ✔️, Redish03

#4 1-bomik0221
  bomik0221/구현/240101.cpp
Labels: 리뷰 완료 ✔️, bomik0221

#2 1-2secondag
  2secondag/DP/prob_1463.py
Labels: 리뷰 완료 ✔️, 2secondag

#6 2-Redish03
  Redish03/.vscode/settings.json
  Redish03/DP/1932.cpp
  Redish03/Dijkstra/1916.cpp
  Redish03/README.md
Labels: 리뷰 완료 ✔️, Redish03

#9 2-miniron-v
  miniron-v/README.md
  miniron-v/수학/분수찾기.cpp
Labels: 리뷰 완료 ✔️, miniron-v

#7 2-bomik0221
  bomik0221/구현/240104.cpp
Labels: 리뷰 완료 ✔️, bomik0221

#13 3-Redish03
  Redish03/BFS/1697.cpp
  Redish03/README.md
Labels: 리뷰 완료 ✔️, Redish03

#10 3-miniron-v
  miniron-v/DP/1082-방 번호.cpp
  miniron-v/README.md
  miniron-v/그리디/1083-소트.cpp
  miniron-v/수학/1193-분수찾기.cpp
Labels: 리뷰 완료 ✔️, miniron-v

#12 3-bomik0221
  bomik0221/구현/240107.cpp
Labels: 리뷰 완료 ✔️, bomik0221

#11 3-2secondag
  2secondag/README.md
  2secondag/입출력/별찍기-17.py
  2secondag/입출력/팰린드롬수.py
Labels: 리뷰 완료 ✔️, 2secondag

#14 4-miniron-v
  miniron-v/README.md
  miniron-v/그리디/1052-물병.cpp
Labels: 리뷰 완료 ✔️, miniron-v

#17 4-Redish03
  Redish03/Queue/1966.cpp
  Redish03/README.md
Labels: 리뷰 완료 ✔️, Redish03

#15 4-bomik0221
  bomik0221/문자열/240110.cpp
Labels: 리뷰 완료 ✔️, bomik0221

#16 4-2secondag
  2secondag/입출력/단어 정렬.py
Labels: 리뷰 완료 ✔️, 2secondag

#20 5-miniron-v
  miniron-v/README.md
  miniron-v/브루트포스/1107-리모컨.cpp
Labels: 리뷰 완료 ✔️, miniron-v

#18 5-2secondag
  2secondag/입출력/영화감독.py
Labels: 리뷰 완료 ✔️, 2secondag

#19 5-bomik0221
  bomik0221/README.md
  bomik0221/수학/240113.cpp
Labels: 리뷰 완료 ✔️, bomik0221

#21 5-Redish03
  Redish03/Greedy/1092.cpp
  Redish03/README.md
Labels: 리뷰 완료 ✔️, Redish03

#22 6-bomik0221
  bomik0221/README.md
  bomik0221/문자열/240116.cpp
Labels: 리뷰 완료 ✔️, bomik0221

#25 6-Redish03
  Redish03/BFS/11724.cpp
  Redish03/README.md
Labels: 리뷰 완료 ✔️, Redish03

#24 6-2secondag
  2secondag/입출력/평균.py
Labels: 리뷰 완료 ✔️, 2secondag

#29 7-Redish03
  Redish03/DP/1003.cpp
  Redish03/README.md
Labels: 리뷰 완료 ✔️, Redish03

#26 7-miniron-v
  miniron-v/README.md
  miniron-v/수학/1644-소수의 연속합.cpp
Labels: 리뷰 완료 ✔️, miniron-v

#28 7-2secondag
  2secondag/README.md
  2secondag/입출력/팩토리얼 0의 개수.py
Labels: 리뷰 완료 ✔️, 2secondag

#33 8-Redish03
  Redish03/DP/11659.cpp
  Redish03/README.md
Labels: 리뷰 완료 ✔️, Redish03

#30 8-bomik0221
  bomik0221/README.md
  bomik0221/그리디/240122.cpp
Labels: 리뷰 완료 ✔️, bomik0221

#32 8-miniron-v
  miniron-v/README.md
  miniron-v/그리디/1132-합.cpp
Labels: 리뷰 완료 ✔️, miniron-v

#31 8-2secondag
  2secondag/README.md
  2secondag/입출력/단어 공부.py
Labels: 리뷰 완료 ✔️, 2secondag

#36 9-miniron-v
  miniron-v/README.md
  miniron-v/그래프/7576-토마토.cpp
Labels: 리뷰 완료 ✔️, miniron-v

#35 9-Redish03
  Redish03/Backtracking/15656.cpp
  Redish03/README.md
Labels: 리뷰 완료 ✔️, Redish03

#34 9-bomik0221
  bomik0221/README.md
  bomik0221/그리디/240125.cpp
Labels: 리뷰 완료 ✔️, bomik0221

#37 9-2secondag
  2secondag/README.md
  2secondag/입출력/달팽이.py
Labels: 리뷰 완료 ✔️, 2secondag

#41 10-redish03
  Redish03/DP/2096.cpp
  Redish03/README.md
Labels: 리뷰 완료 ✔️, Redish03

#40 10-bomik0221
  bomik0221/README.md
  bomik0221/브루트 포스/240128.cpp
Labels: 리뷰 완료 ✔️, bomik0221

#38 10-miniron-v
  miniron-v/README.md
  miniron-v/그래프/7569-토마토.cpp
Labels: 리뷰 완료 ✔️, miniron-v

#39 10-2secondag
  2secondag/README.md
  2secondag/구현/음계.py
Labels: 리뷰 완료 ✔️, 2secondag
