Repository AlgoLeadMe/AlgoLeadMe-5, pull requests merged in 2024-02, with the labels that each got.

#43 11-miniron-v
  miniron-v/README.md
  miniron-v/브루트포스/1038-감소하는 수.cpp
Labels: 리뷰 완료 ✔️, miniron-v

#45 11-bomik0221
  bomik0221/README.md
  bomik0221/재귀/240131.cpp
Labels: 리뷰 완료 ✔️, bomik0221

#44 11-redish03
  Redish03/Greedy/1448.cpp
  Redish03/README.md
Labels: 리뷰 완료 ✔️, Redish03

#51 13-bomik0221
  bomik0221/DFS/230206.cpp
  bomik0221/README.md
Labels: 리뷰 완료 ✔️, bomik0221

#46 11 - 2secondag
  2secondag/README.md
  2secondag/브루트포스 알고리즘/블랙잭.py
Labels: 리뷰 완료 ✔️, 2secondag

#56 15-miniron-v
  miniron-v/DP/1793-타일링.cpp
  miniron-v/README.md
  miniron-v/그래프/1005-ACM Craft.cpp
Labels: 리뷰 완료 ✔️, miniron-v

#57 14-bomik0221
  bomik0221/README.md
  bomik0221/위상정렬/240215.cpp
Labels: 리뷰 완료 ✔️, bomik0221

#58 12-2secondag
  2secondag/README.md
  2secondag/스택/스택.py
Labels: 리뷰 완료 ✔️, 2secondag

#59 15-Redish03
  Redish03/DFS/1167.cpp
  Redish03/README.md
Labels: 리뷰 완료 ✔️, Redish03

#61 16-miniron-v
  miniron-v/README.md
  miniron-v/수학/1081-합.cpp
Labels: 리뷰 완료 ✔️, miniron-v

#60 15-bomik0221
  bomik0221/README.md
  bomik0221/그래프/240218.cpp
Labels: 리뷰 완료 ✔️, bomik0221

#62 13-2secondag
  2secondag/README.md
  2secondag/브루트포스/체스판 다시 칠하기.py
Labels: 리뷰 완료 ✔️, 2secondag
